# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/classes/
*\classes\
*\build\
*\dist\
*\log\
*\nbproject\
*/nbproject/
*\build.xml
*\manifest.mf

\build-impl.xml
\genfiles.properties
\private.properties
\project.properties
\project.xml
\config.properties


Bach_Cambio_Contrasenas/build/classes/.netbeans_automatic_build
Bach_Cambio_Contrasenas/build/classes/.netbeans_update_resources
